<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Muscle Track</title>
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.5/runtime.min.js"></script>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.5.5/lib/system/single-spa.min.js" as="script">

  <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "react": "https://cdn.jsdelivr.net/npm/react@16.13.0/umd/react.production.min.js",
          "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@16.13.0/umd/react-dom.production.min.js",
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.5.5/lib/system/single-spa.min.js",
          "@michaelpmcmillan/root-config": "//localhost:9000/michaelpmcmillan-root-config.js",
          "@michaelpmcmillan/muscle-track-mfe-navbar": "//localhost:9001/michaelpmcmillan-muscle-track-mfe-navbar.js",
          "@michaelpmcmillan/muscle-track-mfe-home": "//localhost:9002/michaelpmcmillan-muscle-track-mfe-home.js",
          "@michaelpmcmillan/muscle-track-mfe-login": "//localhost:9003/michaelpmcmillan-muscle-track-mfe-login.js"
        }
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@1.16.0/dist/import-map-overrides.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.4.0/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.4.0/dist/extras/amd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.4.0/dist/extras/named-exports.js"></script>
  <% } else { %>
    <script type="systemjs-importmap" src="https://raw.githubusercontent.com/michaelpmcmillan/muscle-track-mfe-importmap/master/importmap.json"></script>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@1.16.0/dist/import-map-overrides.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.4.0/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.4.0/dist/extras/amd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.4.0/dist/extras/named-exports.min.js"></script>
  <% } %>

  <template id="single-spa-layout">
    <single-spa-router>
      <nav class="topnav">
        <application name="@michaelpmcmillan/muscle-track-mfe-navbar"></application>
      </nav>
      <main>
        <route default>
          <application name="@michaelpmcmillan/muscle-track-mfe-home"></application>
        </route>
        <route path="/login">
          <application name="@michaelpmcmillan/muscle-track-mfe-login"></application>
        </route>
      </main>
    </single-spa-router>
  </template>
</head>
<body>
  <script>
    System.import('@michaelpmcmillan/root-config');
    System.import('@michaelpmcmillan/muscle-track-mfe-navbar');
    System.import('@michaelpmcmillan/muscle-track-mfe-home');
    System.import('@michaelpmcmillan/muscle-track-mfe-login');
  </script>
  <% if (isLocal) { %>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
  <% } %>
</body>
</html>
